//.mat-mdc-button,
//.mat-mdc-button .mdc-button__ripple {
//  @apply h-10 w-24 rounded-lg border border-sky-500 bg-[#FFFFFFBF]  text-center text-xs font-bold text-[#083273];
//}
//
//.mat-mdc-select {
//  @apply flex h-10 items-center text-xs font-bold text-[#083273];
//}
//
//.cdk-overlay-pane {
//  @apply text-xs;
//}
