<div class="font-bold text-base text-center">Key Clients</div>
<!--1-->
<div class="flex space-x-4 mt-5">
  <div class="w-1/2 text-sm font-semibold">
    Kenya Police Sacco
  </div>
  <div class="flex-1">
    <p-progressBar [value]="90" />
  </div>
</div>
<!--1-->
<div class="flex space-x-4 mt-2">
  <div class="w-1/2 text-sm font-semibold">
    Ushuru Sacco
  </div>
  <div class="flex-1">
    <p-progressBar [value]="80" />
  </div>
</div>

<!--1-->
<div class="flex space-x-4 mt-2">
  <div class="w-1/2 text-sm font-semibold">
    Ukulima
  </div>
  <div class="flex-1">
    <p-progressBar [value]="80" />
  </div>
</div>

<!--1-->
<div class="flex space-x-4 mt-2">
  <div class="w-1/2 text-sm font-semibold">
    Century
  </div>
  <div class="flex-1">
    <p-progressBar [value]="80" />
  </div>
</div>
<!--2-->
<div class="flex space-x-4 mt-2">
  <div  class="w-1/2 text-sm font-semibold">
    Eclectics
  </div>
  <div class="flex-1">
    <p-progressBar [value]="70" />
  </div>
</div>
<!--3-->
<div class="flex space-x-4 mt-2">
  <div  class="w-1/2 text-sm font-semibold">
    Dstv Service
  </div>
  <div class="flex-1">
    <p-progressBar [value]="50" />
  </div>
</div>
