<header class="fixed top-0 left-0 w-full h-16 bg-gray-800 shadow-xl z-30">
  <div class="flex justify-between items-center h-full px-6">

    <div class="flex items-center space-x-3">

      <button *ngIf="isMobile"
              (click)="onToggle()"
              class="text-gray-400 hover:text-cyan-400 focus:outline-none p-2 rounded-md">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>

      <div class="flex justify-end mb-1">
        <button class="px-8 py-3 md:px-10 md:py-4 text-lg font-semibold rounded-full shadow-lg hover:bg-gray-700 transition duration-300 ease-in-out transform hover:scale-105"
                routerLink="/">
          <span class="text-2xl text-cyan-400 font-bold">Nafsi</span>
        </button>
      </div>
    </div>

    <div class="flex items-center space-x-4">
    </div>
  </div>
</header>
