<!-- Get Started Page -->
<div class="flex h-screen w-full items-center justify-center bg-gray-100">
  <div class="grid w-1/2 grid-cols-2 rounded-2xl bg-white shadow-lg">
    <!-- Left Side: Image -->
    <div class="rounded-bl-2xl rounded-tl-2xl">
      <img src="assets/images/ai-doc-ver.png" alt="Nafsi" class="h-full w-full object-cover rounded-bl-2xl rounded-tl-2xl" />
    </div>
    <!-- Right Side: Content -->
    <div class="flex flex-col place-content-center p-8">
      <!-- KentaPay Logo -->
      <div class="flex items-center justify-center mb-6">
        <img src="assets/images/logo1.png" alt="logo" class="" />
      </div>
      <!-- Welcome Text -->
      <div class="text-center text-xl font-bold text-blue-500 mb-2">Welcome To Nafsi</div>
      <div class="text-center text-xs font-semibold text-blue-400 mb-3">The Soul Of Development</div>
      <!-- Router Outlet for Form -->
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
