<div class="w-full">
  <!--Header-->
  <div class="flex h-12 items-center justify-between gap-2.5 rounded-tl-lg rounded-tr-lg bg-[#DAD1FF] px-2 shadow">
    <div class="font-gotham flex items-center text-base font-bold leading-6 text-[#083273]">Change Password</div>
  </div>
  <!--Header Ends-->
  <div
    class="relative mb-4 flex h-full flex-row justify-center gap-8 overflow-x-auto rounded-bl-lg rounded-br-lg bg-[#F5F5F5] p-8">
    <div class="flex w-[1194px] grow flex-row rounded-2xl bg-background p-6 shadow">
      <div class="flex grow flex-col">
        <div class="font-inter mb-2 flex h-10 grow items-center bg-[#083273] p-3 text-base font-bold text-white">
          Password Information
        </div>
        @if(message()){
        <!-- Display success message -->
        <div class="message m-4 rounded-lg p-4 text-black shadow-lg" [ngClass]="message()?.['severity']" role="alert">
          <div class="flex items-center">
            <div class="ml-3 text-sm font-medium">
              {{message()?.['text']}}
            </div>
            <button
              type="button"
              (click)="onClose()"
              class="-mx-1.5 -my-1.5 ml-auto inline-flex h-8 w-8 rounded-lg p-1.5 text-white focus:ring-2 focus:ring-green-400 hover:bg-green-700">
              <span class="sr-only">Close</span>
              <svg aria-hidden="true" class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 011.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
        </div>
        }

        <form action="" class="" [formGroup]="changePasswordForm">
          <div class="mb-2 grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="w-full">
              <label
                for="currentPassword"
                class="font-inter mb-1 block text-sm font-semibold text-[#474748] dark:text-white"
                >Current Password</label
              >
              <input
                type="password"
                formControlName="currentPassword"
                [ngClass]="{'border-red-600':
                (changePasswordFormControl.currentPassword.touched || submitted) &&
                changePasswordFormControl.currentPassword.errors?.['required'],

                'border-green-600':
                (changePasswordFormControl.currentPassword.touched || submitted) &&
                !changePasswordFormControl.currentPassword.errors }"
                id="currentPassword"
                class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block h-10 w-full border border-gray-300 bg-white p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder="Current Password"
                required="" />
              @if ((changePasswordFormControl.currentPassword.touched || submitted) &&
              changePasswordFormControl.currentPassword.errors?.['required']){
              <span class="text-xs text-red-600">Current Password is required.</span>
              }
            </div>
            <div class="w-full">
              <label
                for="newPassword"
                class="font-inter mb-1 block text-sm font-semibold text-[#474748] dark:text-white"
                >New Password</label
              >
              <input
                type="password"
                formControlName="newPassword"
                id="newPassword"
                [ngClass]="{'border-red-600':
                (changePasswordFormControl.newPassword.touched || submitted) &&
                changePasswordFormControl.newPassword.errors?.['required'],

                'border-green-600':
                (changePasswordFormControl.newPassword.touched || submitted) &&
                !changePasswordFormControl.newPassword.errors }"
                class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block h-10 w-full border border-gray-300 bg-white p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder="New Password"
                required="" />
              @if ((changePasswordFormControl.newPassword.touched || submitted) &&
              changePasswordFormControl.newPassword.errors?.['required']){
              <span class="text-xs text-red-600">New Password is required.</span>
              }
            </div>
            <div class="w-full">
              <label
                for="confirmPassword"
                class="font-inter mb-1 block text-sm font-semibold text-[#474748] dark:text-white"
                >Confirm New Password</label
              >
              <input
                type="password"
                formControlName="confirmNewPassword"
                id="confirmPassword"
                [ngClass]="{'border-red-600':
                (changePasswordFormControl.confirmNewPassword.touched || submitted) &&
                changePasswordFormControl.confirmNewPassword.errors?.['required'],

                'border-green-600':
                (changePasswordFormControl.confirmNewPassword.touched || submitted) &&
                !changePasswordFormControl.confirmNewPassword.errors }"
                class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block h-10 w-full border border-gray-300 bg-white p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder="Confirm New Password"
                required="" />
              @if ((changePasswordFormControl.confirmNewPassword.touched || submitted) &&
              changePasswordFormControl.confirmNewPassword.errors?.['required']){
              <span class="text-xs text-red-600">Confirm New Password is required.</span>
              }
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="ml-5 flex flex-col gap-4">
      <button
        type="button"

        class="mb-2 me-2 flex h-10 items-center gap-3 rounded-[40px] bg-[#083273] px-6 py-0 text-sm font-semibold text-white focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 0C4.48566 0 0 4.48566 0 10C0 15.5143 4.48566 20 10 20C15.5143 20 20 15.5136 20 10C20 4.48644 15.5143 0 10 0ZM10 18.4508C5.34082 18.4508 1.54918 14.66 1.54918 10C1.54918 5.34004 5.34082 1.54918 10 1.54918C14.6592 1.54918 18.4508 5.34004 18.4508 10C18.4508 14.66 14.66 18.4508 10 18.4508Z"
            fill="#F5F5F5" />
          <path
            d="M13.873 9.1557H10.7746V6.05734C10.7746 5.62977 10.4284 5.28273 10 5.28273C9.57164 5.28273 9.22539 5.62977 9.22539 6.05734V9.1557H6.12703C5.69867 9.1557 5.35242 9.50273 5.35242 9.93031C5.35242 10.3579 5.69867 10.7049 6.12703 10.7049H9.22539V13.8033C9.22539 14.2309 9.57164 14.5779 10 14.5779C10.4284 14.5779 10.7746 14.2309 10.7746 13.8033V10.7049H13.873C14.3013 10.7049 14.6476 10.3579 14.6476 9.93031C14.6476 9.50273 14.3013 9.1557 13.873 9.1557Z"
            fill="#F5F5F5" />
        </svg>
        Save
      </button>
      <button
        type="button"
        (click)="cancelChangePasswordForm()"
        class="mb-2 me-2 flex h-10 items-center gap-3 rounded-[40px] bg-white px-6 py-0 text-sm font-semibold text-[#DDDDDD] focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1245_9711)">
            <path
              d="M16.6192 3.22066C12.8799 -0.517888 6.79883 -0.517888 3.05958 3.22066C-0.678063 6.9592 -0.678063 13.042 3.05958 16.7805C4.92921 18.6494 7.38448 19.5834 9.83978 19.5834C12.2951 19.5834 14.7495 18.6494 16.6192 16.7805C20.3576 13.042 20.3576 6.9592 16.6192 3.22066ZM13.7939 12.8255C14.1063 13.1379 14.1063 13.6428 13.7939 13.9552C13.6381 14.111 13.4336 14.1894 13.229 14.1894C13.0245 14.1894 12.82 14.111 12.6641 13.9552L9.83975 11.13L7.01613 13.9544C6.85954 14.1102 6.65498 14.1885 6.45124 14.1885C6.24671 14.1885 6.04214 14.1102 5.88634 13.9544C5.57395 13.642 5.57395 13.1363 5.88634 12.8246L8.70996 10.0002L5.88555 7.17572C5.57316 6.86332 5.57316 6.35755 5.88555 6.04594C6.19716 5.73354 6.70292 5.73354 7.01531 6.04594L9.83971 8.8704L12.6641 6.04594C12.9765 5.73354 13.4815 5.73354 13.7939 6.04594C14.1063 6.35755 14.1063 6.86332 13.7939 7.17572L10.9695 10.0002L13.7939 12.8255Z"
              fill="#DDDDDD" />
          </g>
          <defs>
            <clipPath id="clip0_1245_9711">
              <rect width="20" height="20" fill="white" />
            </clipPath>
          </defs>
        </svg>
        Cancel
      </button>
    </div>
  </div>
</div>
