<div class="w-full">
  <!--Header-->
  <div class="flex h-12 items-center justify-between gap-2.5 rounded-tl-lg rounded-tr-lg bg-[#DAD1FF] px-2 shadow">
    <div class="font-gotham flex items-center text-base font-bold leading-6 text-[#083273]">User Profile</div>
  </div>
  <div
    class="relative mb-4 flex h-full flex-row justify-center gap-8 overflow-x-auto rounded-bl-lg rounded-br-lg bg-[#F5F5F5] p-8">
    <div class="flex w-[1194px] grow flex-row rounded-2xl bg-background p-6 shadow">
      <div class="flex grow flex-col">
        <div class="font-inter mb-2 flex h-10 grow items-center bg-[#083273] p-3 text-base font-bold text-white">
          Profile Information
        </div>
      </div>
    </div>
  </div>

</div>
